*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #333;
    text-decoration: none;
    /* line-height: 1.7em; */
}
h1,h2,h3{
    padding: 20px 0;
}
p{
    margin: 20px 0;
}
/* ************************** */
#navbar{
    color: #fff;
    background-color: #333;
    overflow: auto;
}
#navbar a{
    color: #fff;
}
#navbar h1 {
    float: left;
}
#navbar ul{
    float: right;
    list-style: none;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
}
#navbar ul li a:hover{
    background-color: #444;
    color: bisque;
}